{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Redaguoti Klausimą: Quiz {{ question.quiz_id }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="content">Klausimas:</label>
      {{ form.content(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="correct_option">Teisingas Atsakymas:</label>
      {{ form.correct_option(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-success">Išsaugoti Pakeitimus</button>
    <a href="{{ url_for('edit_quiz', quiz_id=question.quiz_id) }}" class="btn btn-danger">Atšaukti</a>
  </form>
</div>
{% endblock %}
