{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Mano turnyrai</h2>
    <ul>
        {% for tournament in tournaments %}
            <li>

                <a href="{{ url_for('quiz_summary', quiz_id=tournament.id) }}">{{ tournament.name }}</a>

                <a href="{{ url_for('edit_quiz', quiz_id=tournament.id) }}" class="btn btn-sm btn-primary">Redaguoti</a>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.body.style.backgroundImage = 'url("https://img.freepik.com/premium-photo/3d-qr-code-icon-space-text-against-light-background-3d-rendered-digital-symbol_214744-95.jpg")';
      document.body.style.backgroundSize = 'cover';
      document.body.style.backgroundPosition = 'center center';
      document.body.style.backgroundAttachment = 'fixed';
  });
  </script>
{% endblock %}
